<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            
            <a href="/assignments/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add New Assignment
            </a>
            
            <table class="table table-bordered table-striped table-hover mt-3">
                
                <tr class="d-flex">
                    <th class="text-center col-3">Assignment Name</th>
                    <th class="text-center col-2">Course</th>
                    <th class="text-center col-2">Due Date</th>
                    <th class="col-4">Details</th>
                    <th class="text-center col-1">Completed?</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                </tr>
                
                <% for(let count = 0; count < AssignmentList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="col-3"><%= AssignmentList[count].name %></td>
                        
                        <td class="text-center col-2"><%= AssignmentList[count].course %></td>
                        
                        <td class="text-center col-2">
                            <%= AssignmentList[count].dueDate ? new Date(AssignmentList[count].dueDate).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) : 'N/A' %>
                        </td>
                        
                        <td class="col-4"><%= AssignmentList[count].description %></td>
                        
                        <td class="text-center col-1">
                            <% if(AssignmentList[count].isCompleted) { %>
                                <i class="fas fa-check-square text-success"></i>
                            <% } else { %>
                                <i class="fas fa-times-circle text-danger"></i>
                            <% } %>
                        </td>
                        
                        <td class="text-center col-1">
                            <a href="/assignments/edit/<%= AssignmentList[count]._id%>" 
                                class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit
                            </a>
                        </td>
                        
                        <td class="text-center col-1">
                            <a href="/assignments/delete/<%= AssignmentList[count]._id%>" 
                                class="btn btn-danger btn-sm confirm-delete"> 
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
<br>
<br>
<%- include ../partials/footer.ejs %>